@use '../../styles/partials/colors.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/breakpoints.scss' as *;

.viddetails{
    padding: 1rem;
    color: $brainflix-black;
    &__title{
        padding-bottom: 1rem;
    }
    &__data{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $mercury;
        border-top: 1px solid $mercury;
        padding-bottom: 1rem;
        &-container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 1rem;
            flex-direction: column;
            gap: 1rem;
            &-channel{
                font-weight: 700;
            }
            &-date{
                color: $silver;
            }
            &-views{
                display: flex;
                align-items: flex-start;
                padding-right: 2.75rem;
                color: $silver;
                img{
                    margin-right: 0.5rem;
                }
            }
            &-likes{
                display: flex;
                align-items: flex-start;
                padding-right: 3rem;
                color: $silver;
                
                img{
                    margin-right: 0.5rem;
                }
            }
        }
    }
    &__description{
        padding-top: 1rem;
    }
}

@include tablet {
    .viddetails{
        padding: 1.5rem 2.5rem;
        &__title{
            padding: 0;
        }
        &__data{
            border-top: none;
            padding: 0;
            &-container{
                flex-direction: row;
                &-views{
                    padding: 0;
                }
                &-likes{
                    padding: 0;
                }
            }
        }
    }
}

// desktop layout
@include desktop {
    .viddetails{
        padding-right: 0;
        &__description{
            padding-right: 1rem;
        }
        &__data{
            &-container{
                padding-right: 1rem;
            }
        }
    }
}
