@use '../../styles/partials/colors.scss' as *;
@use '../../styles/partials/typography.scss' as *;
@use '../../styles/partials/breakpoints.scss' as *;

.vidlist{
    padding: 1rem;
    &__title{
        color: $silver;
        padding-bottom: 1rem;
    }
    &__container{
        &-item{
            display: flex;
            padding-top: 1rem;
            a{
                display: flex;
                cursor: pointer;
                color: $brainflix-black;
                text-decoration: none;
            }
            &-image{
                width: 8.5rem;
                height: 4.5rem;
                border-radius: 4px;
                object-fit: cover;
                padding-right: 1rem;
            }
            &-details{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding-bottom: 0.25rem;
                &-title{
                    font-weight: 700;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}

@include tablet{
    .vidlist{
        padding: 0 2.5rem;
    }
}

@include desktop{
    .vidlist{
        padding: 0 1rem;
        &__container{
            &-item{
                width: 20rem;
            }
        }
    }
}