@use '../../styles/partials/colors.scss' as *;
@use '../../styles/partials/typography.scss' as *;
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    &__img{
        width: 7.5rem;
        height: 1.563rem;
    }
    &__search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &-input{
            padding: 0.5rem;
            padding-left: 2rem;
            background-image: url('/assets/icons/search.svg');
            background-repeat: no-repeat;
            background-position: left;
            background-position-x: 0.5rem;
            border-radius: 0.25rem;
            background-color: $alabaster;
            border: 1.5px solid $mercury;
        } ::placeholder{
            font-size: 0.75rem;
        }
        &-userImg{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    &__upload{
        background-color: $braninflix-blue;
        color: $white;
        width: 100%;
        text-align: center;
        padding: 0.75rem;
        background-image: url('/assets/icons/upload.svg');
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 0.5rem;
        border-radius: 0.25rem;
        font-family: 'Avenir Next';
    }
}